<section class="navbar flex justify-between py-4 max-w-7xl mx-auto">
  <div class="navbarContainer pr-12">
    <ul class="flex justify-between items-center">
      <li class="navBarLogo mr-12">
        <a routerLink="/">
          <img src="/assets/img/Logo.png" alt="Logo" />
        </a>
      </li>
      <li>
        <a routerLink="/services" class="navlinks mr-12 text-sm">Services</a>
        <ul class="dropdown">
          <li><a class="navlinks text-sm" routerLink="/services">Paver Installation </a></li>
          <li><a class="navlinks text-sm" routerLink="/services">Paver Installation</a></li>
          <li><a class="navlinks text-sm" routerLink="/services">Paver Installation</a></li>
          <li><a class="navlinks text-sm" routerLink="/services">Paver Installation</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/about" class="navlinks mr-12 text-sm">About Us</a>
      </li>
      <li>
        <a routerLink="/contact" class="navlinks mr-12 text-sm">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="flex items-center justify-end">
    <p class="navphone text-sm">+92 3213412412</p>
  </div>
</section>
<section class="schedule flex w-4/5 mx-auto mt-16">
  <div class="leftSection w-7/12">
    <h3 class="text-4xl scheduleHeading px-12 pt-16">
      Book onsite schedule now
    </h3>
  </div>
  <div class="rightSection w-5/12 flex justify-center">
    <div class="heroForm pl-24 py-10">
      <h3 class="heroFormHeading text-2xl">Schedule</h3>
      <form class="mt-8" [formGroup]="schedulForm" (ngSubmit)="onSubmit()">
        <input placeholder="Name"  formControlName="name"class="heroInput py-3 w-full pl-7" />
        <input placeholder="Email Address" formControlName="email" class="heroInput py-3 w-full px-7" />
        <input placeholder="Phone Number" formControlName="phone" class="heroInput py-3 w-full px-7" />
        <input placeholder="Address" formControlName="address" class="heroInput py-3 w-full px-7" />
        <textarea
          placeholder="Details"
          formControlName="text"
          class="heroInput resize-none py-3 w-full px-7"
          rows="4"
        ></textarea>
        <button class="heroFormBtn text-sm px-8 py-3 mt-4">
          Book Appointment
        </button>
      </form>
    </div>
  </div>
</section>



<section class="footer">
  <div class="footerContainer flex justify-center mx-auto max-w-7xl">
    <div class="flex justify-between w-4/12 footerLinks p-16">
      <div><img routerLink="/" width="45%" src="assets/img/Logo.png" /></div>
      <div class="flex flex-col">
        <a class="footerlink" routerLink="/blogs">Blogs</a>
        <a class="footerlink mt-6" routerLink="/about">About</a>
        <a class="footerlink mt-6" routerLink="/contact">Contact</a>
        <a class="footerlink mt-6" routerLink="/schedule">Book Schedule</a>
      </div>
    </div>
    <div class="contact py-16 px-8 w-3/12 flex justify-center">
      <div>
        <p class="contactHeading">CONTACT</p>
        <p class="contactInfo mt-10">2414 Bear Montains</p>
        <p class="contactInfo mt-6">Zachery Chester</p>
        <p class="contactInfo mt-6">Bahamas</p>
        <p class="contactInfo mt-6">+12 345656777</p>
      </div>
    </div>
    <div class="news p-16 flex w-4/12 flex flex-col">
      <p class="newsHeading">NEWSLETTER</p>
      <p class="newsInfo mt-10 w-3/4 leading-10">
        Subscribe to get more updates on our new landscaping projects.
      </p>
      <div class="flex mt-8 items-center">
        <input
          placeholder="Enter Email"
          class="newsInput py-3 px-7 text-sm"
        />
        <img class="newsArrowBtn" src="assets/img/ArrowBtn.png" />
      </div>
    </div>
  </div>
  <div class="px-32 py-8">
    <p class="text-base copyright">Copyright @ 2022 malik</p>
  </div>
</section>